body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul.subtasks {
  list-style: none;
}

ul.subtasks > li {
  display: block;
}

ul.subtasks > li > div > * {
  display: inline-block;
}

.inline {
  display: block;
}

.inline > div {
  display: inline-block;
  vertical-align: middle;
}

.edit-field {
  border: none;
  padding: 5px;
}

.edit-field:focus {
  border: 1px solid #777;
  outline: none;
}
